
::before, 
::after,
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:baseline
}

body{
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial,Helvetica,sans-serif;
    height: 100vh;
    font-weight: 400;
    background-color: #4edfe7;
    color:#d1c707
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(8, 16, 4);
}
div{
    position: relative;
    z-index: auto;
    transition: 0.6s;
}
#quote-box{
    width: 450px;
    padding: 41px, 51px;
    position: relative;
    transition: 0.6s;
    display: table;
    border-radius: 3px;
    background-color: #cfca8f;
}
#quote-box .quote {
    clear: both;
    height: auto;
    width: 450px;
    font-size: 1.69px;
    text-align: center;
}
#quote-box .quote, i {
    font-size: .9em;
    padding: auto;
    margin-top: 0.7em;
    margin-bottom: 0.5eem;
    color: #000;
}
#quote-box .quote-author{
    width: 450px;
    height: auto;
    text-align: right;
    font-size: 1em;
    padding-top: 20px;
    transition: 0.6s;
}
#quote-box .quote-btn{
    width: 450px;
    margin: auto;
    display: block;
    transition: 0.6s;
}
#quote-box .quote-btn .sub-btn{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.6s;
    margin-top:30px;
    font-size:.9rem;
    border: none;
    outline: none;
    height: 36px;
    border-radius: 4px;
    padding: 8px 18px 6px 18px;
    background-color:#f08080;
    color:#000
}
#quote-box .quote-btn .sub-btn#tweet-quote{
    height: 36px;
    width: 50px;
    transition: 0.6s;
    margin-right: 5px;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.6s;
    padding: 0;
    float: left;
    background-color:#f08080;
}
#quote-box .quote-btn .sub-btn #tweet-quote,a{
    text-decoration: none
}
#quote-box .quote-btn .sub-btn#share-quote{
    float: left;
    padding-top: 7px;
    padding: 0px;
    transition: 0.6s;
    text-align: center;
    font-size: 1.3rem;
    margin-right: 5px;
    height: 36px;
    width: 50px;
    background-color:#f08080
}
#quote-box .quote-btn .sub-btn #share-quote, a{
    text-decoration: none
}
#quote-box .quote-btn .sub-btn:hover{
    opacity: 0.9;
    background-color:hsl(39,100%,50%);
    color:#000
}
#quote-box .quote-btn .sub-btn#new-quote{
    float: right;
}
.custom-footer{
    width: 450px;
    text-align: center;
    padding: 0px;
    padding-top: 8px;
    display: block;
    font-size: 1.4rem;
}
.custom-footer{
    font-weight:400;
    text-decoration:none;
    color:#000;
}

.quote-field {
    transform: rotateN(180deg);
}
.rotateA {
    transform: rotateN(-180deg);
}

.rotateB {
    transform: rotateN(0deg);
}

